div p{
    font-size: 25px;
}

/* only 3 div will change */
div:nth-of-type(3) p{
    background-color: blue;
    color: white;
}

/* give 2nd p inside third div, 5px red solid border */
div:nth-of-type(3) p:nth-of-type(2){
    border: 5px solid red;
}

/* make em tag in 2nd div with white color 30px font size and green background*/
div:nth-of-type(2) em{
    color: white;
    background-color: green;
    font-size: 30px;
    
}