body{
    background-color: #bdc646;
}

h1{
    color: #9b79b8;
    
}

h2{
    color: yellow;
}

li{
    color: blue;
}

p{
    background-color: white;
}

input{
    border: 5px solid red;
}

.hello{
    background-color: blue;
    color: white;
}

#special{
    border: 10px solid orange;
}

input[type="text"]{
    background-color: green;
}

input:checked{
    margin-left: 50px;
}

label{
    text-transform: uppercase;
}

#special:first-letter{
    color: green;
    font-size: 100px;
}

h1:hover{
    color: white;
    border: 5px dotted black;
}