body {
    font-family: "Sofia", sans-serif;
    background-color: rgb(12, 114, 83);
    color: white;
    text-align: center;
    border: 50px solid black;
    margin: 0;
}

p{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

}

submit{
    height: inherit;
    width: inherit;
    margin: 10px;
    
}